<div class="row">
	<div class="col-xs-8 col-sm-6 col-md-4 col-sm-offset-1 col-md-offset-2">
		<form (ngSubmit)="onChangePwd(f)" #f="ngForm">
			<div class="form-group">
				<label for="currentPwd">Current Password:</label>
				<input type="password" id="currentPwd" name="currentPwd" ngModel class="form-control">
			</div>
			<div class="form-group">
				<label for="newPwd">New Password:</label>
				<input type="password" id="newPwd" name="newPwd" ngModel class="form-control">
			</div>
			<button class="btn" style="background-color: #eae7dc; color: #e98074; " type="submit" [disabled]="!f.valid">Change Password</button>
			<button class="btn" style="background-color: #eae7dc; color: #e98074; " type="button">Cancel</button>
		</form>
	</div>
</div>