<div class="row">
	<div class="col-12">
		<font style="text-shadow: aqua; color: #e98074; font-size: 20px; font-family: Bookman Old Style" >Welcome to Fashion's Final Stop where your road ends</font>
	</div>
</div> 

<div class="row" style="margin-top: 10px;">
	<div class="col-sm-12 col-md-6 col-lg-6">
		<img src="./assets/Enroll.jpeg" style="width: 100%; margin: 2%;">
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6" style="font-family: Book Antiqua; align-self: center; font-size: 20px;">
		<font color="#e98074">  Enroll yourself! </font>  
	</div>
</div>
<div class="row" style="background-color: #e98074; margin-top: 10px;">
	<div class="col-sm-12 col-md-6 col-lg-6" >
		<img src="./assets/Upload.jpeg" style="width: 100%; margin: 2%;">
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6" style="font-family: Book Antiqua; align-self: center; font-size: 20px;">
		<font color="white">  Upload your design! </font> 
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-sm-12 col-md-6 col-lg-6">
		<img src="./assets/Share.jpeg" style="width: 100%; margin: 2%;" >
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6" style="font-family: Book Antiqua; align-self: center; font-size: 20px;">
		 <font color="#e98074"> Share you detail! </font> 
	</div>
</div>
<div class="row"  style="background-color: #e98074; margin-top: 10px;">
	<div class="col-sm-12 col-md-6 col-lg-6">
		<img src="./assets/Search.jpeg" style="width: 100%; margin: 2%;">
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6" style="font-family: Book Antiqua; align-self: center; font-size: 20px;">
		 <font color="white"> Let world reach out to you! </font>
	</div>
</div>

 
 
 