<div *ngIf="designs">
	<div class="list-group" *ngFor="let design of designs">
	  <div class="list-group-item list-group-item-action" style="border:none;  cursor: pointer;" 
	  	[routerLink]="['/design', design.designId]">
	    <div class="d-flex justify-content-between">
	      <h6 class="mb-1">{{design.designName}}</h6>
	      <small>{{design.uploadedTs}}</small>
	    </div>
	    <p class="mb-1">{{design.description}}</p>
	  </div>
	  <div>
	  	<button class="btn" style="background-color: #eae7dc; color: #e98074; " type="button" (click)="editDesign(design.designId)" *ngIf="!test">Edit</button>
	  	<button class="btn" style="background-color: #eae7dc; color: #e98074; " type="button" (click)="deleteDesign(design.designId)" *ngIf="!test">Delete</button>
	  </div>
	</div>
</div>
