<app-notification-detail></app-notification-detail>

<div class="list-group">
  <div class="list-group-item list-group-item-action" style="border:none;  cursor: pointer;" (click)="retriveEvent()">
    <div class="d-flex justify-content-between">
      <h6 class="mb-1">23 people viewed your Sherwani design.</h6>
      <small>10:23 AM</small>
    </div>
  </div>
  <div class="list-group-item list-group-item-action" style="border:none;  cursor: pointer;" (click)="retriveEvent()">
    <div class="d-flex justify-content-between">
      <h6 class="mb-1">Vishwanath Borhade comment on your Shervani design</h6>
      <small>2 hrs 6 mins</small>
    </div>
  </div>
    <div class="list-group-item list-group-item-action" style="border:none;  cursor: pointer;" (click)="retriveEvent()">
    <div class="d-flex justify-content-between">
      <h6 class="mb-1">New event in your area</h6>
      <small>1 day</small>
    </div>
  </div>
    <div class="list-group-item list-group-item-action" style="border:none;  cursor: pointer;" (click)="retriveEvent()">
    <div class="d-flex justify-content-between">
      <h6 class="mb-1">2 nes has been added</h6>
      <small>2 hrs 6 mins</small>
    </div>
  </div>
 </div>